body{
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #ffe4e1;
}

#navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background: #77a8a8;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

p{
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}

code{
    font-size: 16px;
    font-weight: bold;
}

#navbar :hover{
    color: #ffe4e1;
    cursor: pointer;
    text-decoration: underline;
}

#navbar header{
    font-size: 20px;
    margin-bottom: 20px;
}

header{
    font-weight: bold;
    text-transform: uppercase;
}

#navbar a{
    display: block;
    color: #fff;
    text-decoration: none;
    margin: 10px 0;
}

#main-doc{
    margin-left: 240px;
    padding: 20px;
}

@media (max-width: 600px) {
    #navbar{
        position: relative;
        width: 100%;
        height: auto;
    }
}

#main-doc{
    margin-right: 0;
}