html {scroll-behavior: smooth;}
body{
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: #0D0D0D;
    color: #fff;
}

.hero{ 
    position: relative;
    text-align: center;
    padding: 80px 20px 40px 20px;
    background: url("https://images.unsplash.com/photo-1522202176988-66273c2fd55f?ixlib=rb-4.0.3&auto=format&fit=crop&w=1600&q=80")
                no-repeat center/cover;
    color: white;
}

.hero .overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
}

.haro-content {
    position: relative;
    z-index: 1;
}

.hero .logo {
    max-width: 180px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.hero h1 {
    font-size: 2.5rem;
    margin: 10px 0;
    background: linear-gradient(90deg, #D4AF37, #B8860B);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero p{
    color: black;
    margin-bottom: 20px;
}

.cta-btn {
    display: inline-block;
    padding: 12px 25px;
    font-weight: bold;
    background: linear-gradient(90deg, #D4AF37, #B8860B);
    color: #0D0D0D;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.2s;
}

.cta-btn:hover {
    transform: scale(1.05);
}

.btn-link{
    display: inlline-block;
    margin: 5px;
    padding: 8px 16px;
    background: linear-gradient(90deg, #D4AF37, #B8860B);
    color: #0D0D0D;
    font-weight: bold;
    text-decoration: none;
    border-radius: 25px;
    transition: 0.3s;
}

.btn-link:hover {
    transform: translateY(-2px);
    background: linear-gradient(90deg, #B8860B, #D4AF37);
}

nav{
    position: sticky;
    top: 0;
    background: #0D0D0D;
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
    padding: 10px 0;
    z-index: 999;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    background: linear-gradient(90deg, #D4AF37, #B8860B);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.menu-toggle { display: none;}
.menu-icon { 
    display: none;
    color: #D4AF37;
    font-size: 1.8rem;
    cursor: pointer;
}

.menu-icon .close-icon{
    display: none;
}

@media (max-width: 768px) {
    nav ul {
        display: none;
        flex-direction: column;
        padding: 20px 0;
        background: #111;
    }

    .menu-icon {
        display: none;
        text-align: right;
        padding: 0 20px;
    }

    .menu-toggle:checked ~ .menu{ display: flex;}
    .menu-toggle:checked + .menu-icon .open-icon { display: none;}
    .menu-toggle:checked + .menu-icon .close-icon { display: inline;}
}

main {
    padding: 20px;
    max-width: 1100px;
    margin: auto;
}
 section {
    margin-bottom: 60px;
 }

 section h2 {
    font-size: 1.8rem;
    background: linear-gradient(90deg, #D4AF37, #B8860B);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
 }

 .about-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center
 }

 .profile-pic {
    max-width: 200px;
    border-radius: 10px;
 }

 .about-text{ flex: 1;}

 .card-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
 }

 .card{
    background: #1A1A1A;
    border: 1px solid #333;
    padding: 20px;
    border-radius: 8px;
    transition: 0.3s;
 }
 
 .card:hover {
    transform: translateY(-5px);
 }

 footer {
    background: #111;
    text-align: center;
    padding: 15px;
    font-size: 0.9rem;
 }

 @media (max-width: 768px) {
    .hero h1 { font-size: 2rem;}
    .about-container { 
        flex-direction: column;
        text-align: center;
    }
    .profile-pic { margin-bottom: 15px;}
 }